.promotion_boxes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 4rem;
    button{
        font-family: 'Sofia Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 14.4px;
        line-height: 14px;
        text-align: center;
        color: #FFFFFF;
        background: var(--color-accent);
        padding: 0 1rem;
        color: #fff;
        cursor: pointer;
        outline: none;
        border-radius: 10px;
        width: 204px;
        height: 49px;
        appearance: none;
        border: none;
        
    }
}
.promotion_box{
    flex: 1;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    justify-content: center;
    min-height: 433px;
    margin: 1rem;
    color: white;
    &.uber{
        background-image: url(../../assets/aplikacja.png);

    }
    &.dish{
        background-image: url(../../assets/dish.png);

    }
}
.promotion_box__content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    h2{
        font-family: var(--font-family);
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 32px;
        margin-bottom: 1rem;
    }
    p{
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 200;
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 1.4rem;
        max-width: 300px;
        &.markdown__black{
            span{
                background-color: black;
            }

        }
        &.markdown__accent{
            span{
                background-color: var(--color-accent);
            }

        }
    }
}
.promotion_box-icons{
    display: flex;
    flex-direction: row;
    img{
        margin: 0.5rem
    }
}
@media screen and (max-width: 1041px){
    .promotion_boxes{
        flex-direction: column;
        .promotion_box{
            width: 100%;
        }
    }
}
@media screen and (max-width: 900px){
    .promotion_boxes{
        padding: 1rem;
        .promotion_box{
            padding:1rem
        }
    }
}